{% extends 'base.html.twig' %}

{% block title %}TS-05 (twig){% endblock %}
{% block body %}
<body class="text-center">
    <img src="{{ asset('images/website_WIP2.gif') }}"></img>
</body>
{% endblock %}