.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }

header {
    background-color: #212C64;
}

body {
    background-color: #FFFFFF;
}

#iframe {
    width: 1000px;
    height: fit-content;
    position: absolute;
}

#vlc-panel { 
    top: 0px;
}
#control-panel {
    position: absolute;
    right: -400px; 
}

#canvas {
    border:0.3em solid #AB1D37;
}

.grid-container {
    display: block;
}
