body {
    color: white;
    font-family: Arial;
    margin: 0;
}

header {
    background-color: #b3112c;
}

body {
    background-color: #FFFFFF;
}

h1 {
    color: #FFFFFF;
    font-weight: bold;
}

h2 {
    color: #b3112c;
    font-weight: bold;
}

h3 {
    color: #b3112c;
    font-weight: bold;
}

h5 {
    color: #111111;
    font-weight: bold;
    font-weight: bold;
}

ul {
    list-style-type: none;
}

footer {
    position: relative;
    top: 650px;
    display: block
}

input {
    display: block;
}

label {
    font-weight: bold;
    color: black;
}

span {
    font-weight: bold;
    color: #0D237D;
}

a {
    color: #0D237D;
    font-weight: bolder;
}

a:hover {
    color: #b3112c;
    font-weight: bold;
}

div.d-md-block {
    background-color: rgba(0, 0, 0, .5);
    margin: 30px auto;
}

.logo {
    width: 400px;
}

.row {
    display: flex;
    flex-wrap: nowrap;
}

.main {
    min-height: 2304px;
    min-width: fit-content;
    padding: 40px;
}

.side {
    max-width: 450px;
    min-width: fit-content;
    text-align: center;
    padding: 40px;
}

.canvas {
    padding: 0px, 0px, 0px, 20px;
}

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 1px;
    cursor: pointer;
    width: 150px;
}
.button:focus {
    color: black;
}
.button:hover {
    color: black;
}
#btn-rouge {
    background-color: #b91b1b;
}
#btn-bleu {
    background-color: #1f7ac4;
}
#btn-vert {
    background-color: #259c29;
}
#btn-orange {
    background-color: #ffa600;
}
#btn-violet {
    background-color: #8540ff;
}
#btn-blanc {
    background-color: #888888;
}