body{
    color: white;
    font-family: Arial;
    margin: 0;
}
.jumbotron{
    background-color: #b3112c;
}
h1{
    color: #FFFFFF;
    font-weight: bold;
}
h2{
    color: #0D237D;
    font-weight: bold;
}
h3{
    color: #b3112c;
    font-weight: bold;
}
h5{
    color: #111111;
    font-weight: bold;
    font-weight: bold;
}
ul{
    list-style-type: none;
}
footer{
    position: relative;
    top: 650px;
    display: block
}
input {
    display: block;
}
label {
    font-weight: bold;
    color: goldenrod;
}
span {
    font-weight: bold;
    color: #0D237D;
}
a{
    color: #0D237D;
    font-weight: bolder;
}
a:hover{
    color: #b3112c;
    font-weight: bold;
}
div.d-md-block{
    background-color: rgba(0,0,0,.5);
    margin: 30px auto;
}
.logo{
    width: 400px;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.main {
    flex: 70%;
    background-color: #FFF;
    padding: 20px;
}
.side {
    flex: 30%;
    background-color: #AAA;
    padding: 20px;
}