header {
    background-color: #212C64;
}

body {
    background-color: #FFFFFF;
}

#iframe {
    width: 1080px;
    height: 720px;
    /* position: absolute; */
    z-index: -2;
}

#canvas {
    z-index: -1;
    /* position: absolute; */
}
