*,*::before,*::after{
    box-sizing: border-box;
}
.calculator-grid{
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: minmax(120px, auto)repeat(5,100px);
}
.calculator-grid>button{
    font-family: "Comic Sans MS";
    cursor: pointer;
    font-size: 2rem;
    border: white 1px solid;
    outline: none;
    background: rgba(255,255,255,.45);
}
.calculator-grid>button:hover{
    background: linear-gradient(0deg, rgba(46,139,87,.8) 0%, rgba(32,178,170,.4) 100%);
}
.span-two{
    grid-column: span 2;
}
.output{
    grid-column: 1 / -1;
    background: rgba(0,0,0,.75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}
.previous-operand{
    color: grey;
    font-size: 1.5rem;
}
.current-operand{
    color: palegreen;
    font-size: 2.5rem;
}

